<div class="divider-header first-header">
  <h4>{{'value.details.query' | translate}}</h4>
  <a class="pull-right">
    <span id="show-advanced-query" ng-show="!qlc.isAdvancedMode" ng-click="qlc.advancedMode()">
      {{'queue.details.version.query.advanced.link' | translate}}
    </span>
    <span class="pull-right"  id="show-basic-query" ng-show="qlc.isAdvancedMode && qlc.initialAdvancedQuery" ng-click="qlc.basicMode()">
      {{'queue.details.version.query.basic.link' | translate}}
    </span>
  </a>
</div>


<ng-form name="qlc.forms.advancedQueryForm">
  <div class="input-group" ng-if="qlc.isAdvancedMode">
    <label class="textarea-label">{{'value.details.query' | translate}}</label>
    <textarea zermelo-query-list-validator id="advanced-query-field"
      ng-required="true" type="text" ng-model="qlc.advancedQuery" name="query"
     ng-change="qlc.advancedQueryChanged()"></textarea>
     <form-error field="qlc.forms.advancedQueryForm.query"
       error-type-required="{{'queue.details.queue.error' | translate}}"
       error-type-zermelo="{{'queue.query.build.zermelo.invalid' | translate}}">
     </form-error>
  </div>
</ng-form>



<div ng-if="!qlc.isAdvancedMode" class="query-component" ng-repeat="query in qlc.queryList.queries">
  <div ng-class="{'detail-group': $index !== 0 }">
    <div class="divider-header" ng-if="$index !== 0">
      <h4>{{ 'queue.query.escalation.level' | translate:{level: $index} }}</h4>
      <a class="pull-right" ng-click="qlc.removeQuery(query)">{{ 'queue.query.escalation.level.remove'| translate}}</a>
    </div>

    <query-creator
      query="query"
      min-seconds="qlc.minSecondsForQuery($index)"
      previous-query="::qlc.queryList.queries[$index-1]">
    </query-creator>

    <div >
      <div class="divider-header" ng-if="$index === 0">
        <h4>{{ 'queue.query.escalation' | translate}}</h4>
      </div>

      <div ng-if="!qlc.queryList.queries[$index + 1]" class="add-query detail-group">
        <h4>{{ 'queue.query.add.escalation.level' | translate:{level: ($index+1)} }}</h4>
        <div class="add-group-button">
          <button class="add btn" type="button" ng-click="qlc.addQuery()">
            <i id="add-filter-btn" class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
