.lo-alert {
  background-color: $accent-light;
  border: 2px solid darken($accent-light, 5);
  @include border-radius();
  color: $main-color;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.lo-alert.lo-error {
  background-color: #FFBBBB;
  border: 1px solid #D72727;
  color: #D72727;
}

.tag {
  border: 1px solid $light-grey;
  @include border-radius();
  display: inline-block;
  float: left;
  line-height: 2.5ex;
  background-color: $lightest-grey;
  color: $darkest-grey;
  margin: 10px 0;
  padding: 3px 7px;

  a {
    color: $grey;
  }

  a:hover {
    color: $dark-grey;
  }
}

.tag + .tag {
  margin-left: 5px;
}

.bordered-section {
  background-color: lighten($lightest-grey, 2%);
  border: 1px solid $light-grey;
  @include border-radius();
  display:block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  max-width: $max-control-width + 200px;
  
  .divider-header > *{
    background-color: lighten($lightest-grey, 2%) !important;
  }
}

.copyright {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.table {
  border: $light-grey solid 1px;
  border-spacing: 0;
  @include border-radius(0px);
  font-size: 0.9em;
  width: 100%;
  
  &.clone-header {
      @include border-radius-complex(4px, 0, 0, 4px);
      border-bottom: 0;
  }

  td, th {
    padding: 10px;
  }

  th {
    border-bottom: $light-grey solid 1px;
    color: $dark-grey;
    font-weight: 600;
  }

  tbody tr:hover {
    background-color: $accent-light;
  }
}
