<ng-form name="ec.forms.timeAfterForm">
  <div class="input-group time-input" ng-if="ec.minSecondsRequired > 0">
    <label>{{'queues.query.builder.after.seconds' | translate}}</label>
    <input ng-required="true" name="amount" type="number" ng-model="ec.timeAmount" ng-change="ec.updateTimeInSeconds()" />
    <select ng-model="ec.afterSecondsMultiplier" ng-options="option.value as option.label for option in ec.afterTimeOptions" ng-change="ec.updateMultiplier()">
    </select>
    <form-error field="ec.forms.timeAfterForm.amount"
      error-type-required="Time in queue is required"
      error-type-min-time="Time in queue must be greater then the previous value">
    </form-error>
  </div>
</ng-form>

<escalation-query-editor escalation-query="ec.escalation.query"></escalation-query-editor>
