<div class="dropdown-wrapper">
  <div class="drop-label" ng-class="{'drop-origin' : showDrop}" ng-click="dropClick()" ng-mouseenter="mouseIn()">
    <div>
      <span>{{label}}</span>
      <i class="label-icon" ng-class="dropdownIconClass()"></i>
    </div>
  </div>

  <div class="dropdown-container">
    <div class="dropdown" ng-hide="! showDrop">
      <ul ng-if="!groupBy">
        <li id="{{item.id}}"
          ng-repeat="item in items | orderBy:orderBy"
          ng-click="optionClick(item.onClick)"
          ng-class="{ '{{item.className}}': item.className !== undefined }"
          title="{{item.title}}"
          >
            <span class="lo-hover-highlight lo-accent-hover-border" ng-if="! item.stateLink"><i class="{{item.iconClass}}"></i>{{item[displayPath]}}</span>
            <a class="lo-hover-highlight lo-accent-hover-border" ng-if="item.stateLink" ui-sref="{{item.stateLink}}" ui-sref-opts="{{item.stateLinkParams}}"><i class="{{item.iconClass}}"></i>{{item[displayPath]}}</a>
        </li>
      </ul>
      <ul ng-if="groupBy">
        <div id="{{item.id}}"
          ng-repeat="(key, value) in items | groupBy:groupBy">
          <h5 class="groupby-title">{{key}}</h5>
          <li ng-repeat="item in value | orderBy:'dropdownIndex'" ng-click="optionClick(item.onClick)">
            <span
              class="lo-hover-highlight lo-accent-hover-border"
              ng-class="{'indentDropdown': item.indentDropdown}"
              ng-if="! item.stateLink">
              <i class="{{item.iconClass}}"></i>
              {{item[displayPath]}}
            </span>
            <a
              class="lo-hover-highlight lo-accent-hover-border"
              ng-class="{'indentDropdown': item.indentDropdown}"
              ng-if="item.stateLink"
              ui-sref="{{item.stateLink}}"
              ui-sref-opts="{{item.stateLinkParams}}">
              <i class="{{item.iconClass}}"></i>
              {{item[displayPath]}}
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
