* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
  color: #474747;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}

button, select, html, textarea, input {
  font-family: $main-font;
}

a {
  text-decoration: none;
}

[ng-click] {
  cursor: pointer;
}

.btn {
  background-color: #F9F9F9;
  border: 1px solid $light-grey;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.btn-primary {
  color: #FFFFFF;
  margin: 0;
}

.btn-primary:hover {
  color: #ffffff;
}

.btn-primary:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.btn:hover {
  @include inset-box-shadow;
}

.btn.disabled, .btn[disabled], a.disabled, a[disabled] {
  color: darken($light-grey, 20%);
  cursor: default;
}

.btn.disabled, .btn[disabled] {
  border-color: lighten($light-grey, 3%);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.15));

  &:hover {
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.15));
  }
}

.btn.disabled:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

input.btn-primary {
  background-color: $main-color;
  color: #ffffff;
}

input[disabled].btn { /* inputs can't use :before pseudo element" */
  opacity: 0.8;
}

label[disabled], label.disabled {
  color: $grey;
}

.btn:focus {
  outline: none;
}

.pull-right {
  float: right;
}

.unfloat-right {
  display: inline-block;
  text-align: left;
}

.lo-error {
  color: red;
}

.clear {
  display: block;
  clear: both;
}

.clear:after{
  display:block;
  visibility:hidden;
  height:0;
  clear:both;
  font-size:0;
  content:"";
}

.null {
  color: $dark-grey;
  font-style:italic;
  width: 100%;
  text-align: center;
}

.remove {
  color: $grey;
}

.remove:hover {
  color: $dark-grey;
}

.remove[disabled]:hover {
  color: $grey;
}

label.disabled {
  color: $grey;
}

fieldset {
  border: none;
}
