<div class="divider-header first-header">
  <h4>{{'value.details.query' | translate}}</h4>
  <a class="pull-right">
    <span id="show-advanced-query" ng-show="!qlc.isAdvancedMode" ng-click="qlc.advancedMode()">
      {{'queue.details.version.query.advanced.link' | translate}}
    </span>
    <span class="pull-right"  id="show-basic-query" ng-show="qlc.isAdvancedMode && qlc.initialAdvancedQuery" ng-click="qlc.basicMode()">
      {{'queue.details.version.query.basic.link' | translate}}
    </span>
  </a>
</div>


<div class="input-group" ng-if="qlc.isAdvancedMode">
  <label class="textarea-label">{{'value.details.query' | translate}}</label>
  <textarea id="advanced-query-field"
    ng-required="true" type="text" ng-model="qlc.advancedQuery" name="query"
    ng-change="qlc.advancedQueryChanged()"></textarea>
   <form-error field="form['query']"
     error-type-required="{{'queue.details.queue.error' | translate}}"
     error-type-zermelo="{{'queue.query.build.zermelo.invalid' | translate}}"
     error-type-api>
   </form-error>
</div>



<div ng-if="!qlc.isAdvancedMode" class="query-component" ng-repeat="escalation in qlc.escalationList.escalations">
  <div ng-class="{'detail-group': $index !== 0 }">
    <div class="divider-header" ng-if="$index !== 0">
      <h4 id="escalation-level-header">{{ 'queue.query.escalation.level' | translate:{level: $index} }}</h4>
      <a id="remove-escalation-level" class="pull-right" ng-click="qlc.removeEscalation(escalation)">{{ 'queue.query.escalation.level.remove'| translate}}</a>
    </div>

    <escalation-editor
      escalation="escalation"
      min-seconds="qlc.minSecondsForQuery($index)"
      previous-escalation="::qlc.escalationList.escalations[$index-1]">
    </escalation-editor>

    <div >
      <div class="divider-header" ng-if="$index === 0">
        <h4>{{ 'queue.query.escalation' | translate}}</h4>
      </div>

      <div ng-if="!qlc.escalationList.escalations[$index + 1]" class="add-query detail-group">
        <h4 id="add-escalation-label">{{ 'queue.query.add.escalation.level' | translate:{level: ($index+1)} }}</h4>
        <div class="add-group-button">
          <button class="add btn" type="button" ng-click="qlc.addEscalation()">
            <i id="add-escalation-btn" class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
